form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
}

input {
    width: 100%;
}

input[type=text],
input[type=email] {
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #bccece;
    padding: 15px 20px;
}

textarea {
    border: 1px solid #bccece;
    height: 200px;
    resize: none;
    width: 100%;
    padding: 30px 0 10px 10px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.7rem;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: black; 
}

.formName {
    margin-right: 20px;
}

.formName,
.formEmail {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.formMessage {
    margin-bottom: 20px;
}
.formMessage,
.formSubmit {
    width: 100%;
}

.formSubmit > button {
    width: 100%;
    @include buttonFont;
    @include buttonStyle;
}


