@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/form";

html {
    font-size: 62.5%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fcf7ed;
    overflow-x: hidden;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity:  1; }
  }

@keyframes hyphen {
    0% {
      width: 0.5em;
    }
    100% {
      width: 1em;
    }
  }

h1,
li,
a,
ul,
h2, 
p,
button,
input{
    margin: 0;
    padding: 0;
}
// wave emoji
.wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) } 
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
}


// header
.wrapper {
    max-width: 1280px;
    width: 65%;
    margin: 0 auto;

    @include smallMQ {
        width: 90%;
    }
}


header a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #383838;
    text-decoration: none;
    
    @include largeScreenMQ {
        font-size: 2.3rem;
    }
}

.linkNav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: fixed;
    right: 10px;
    top: 0;

    @include smallMQ {
        display: none;
    }
}

nav li {
    padding: 5px;
}

ul {
    list-style: none;
}
// intro section

.aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gif {
    width: 65%;
    height: 225px;
    margin: 50px 0;

    @include smallMQ {
        width: 100%;
    }
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
    // font-weight: 700;
    color: #4b4c4d;
    width: 65%;

    @include smallMQ {
        width: 100%;
    }
}

p {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #272626;
    width: 65%;

    @include smallMQ {
        width: 100%;
    }
}

.aboutMe a {
    color: #5b6464;
    text-decoration: none;
}

// skills section
h2 {
    font-family: 'Space Mono', monospace;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #272626;
    text-align: center;
    padding-top: 70px;
}

.skillsDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
} 

.skillsOne,
.skillsTwo {
    padding: 20px;
    position: relative;
}

.skillsDiv ul li {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: #272626;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Space Mono', monospace;
}

// project section

h3 {
    font-family: 'Space Mono', monospace;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #272626;
    text-align: center;
    padding-top: 70px;
}

h4 {
    font-family: 'Space Mono', monospace;
    font-size: calc(20px + (20 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: #272626;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.mockup {
    width: 100%;
    height: 300px;
    text-align: center;
}

.projects p {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

.repoLink,
.liveLink {
background: #f0ddd6;
color: #4b4843;
font-size: 16px;
text-decoration: none;
padding: 5px 10px;
width: 20%;
text-align: center;
}

.repoLink:hover,
.liveLink:hover {
    box-shadow: 3px 3px 0 #d1eff5;
    border: 1px solid #d1eff5;  
} 
// form section
.formSection {
    width: 100%;
    padding: 70px 100px;
    position: relative;
}

.formSection h2 {
    text-align: center;
}

.contactForm {
    margin-top: 70px;
}
.contactText {
    display: flex;
    flex-direction: column;
}

.contactText p {
    width: 100%
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 15px;
}
// footer
footer {
    text-align: center;
}

footer h3 {
    margin: 0px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
}

div.stamps {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
  }
  
  div.stamps img {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: spin 30s linear infinite;
  }